.mywork{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}
.mywork-title{
    position: relative;
}
.mywork-title h1{
    padding: 0px, 30px;
    font-size: 80px;
    font-weight: 600;
}
.mywork-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.mywork-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}
.mywork-container img{
    object-fit: cover;
    width: 100%;
    height: 220px;
    transition: 0.3s;
    border-radius: 12px;
}
.mywork-container img:hover{
    transform: scale(1.05);
    border: 3px solid #ff00ff;
    border-radius: 10px;
    transition: 0.3s;
}
.mywork-showmore{
    display: flex;
    gap: 15px;
    border-radius: 40px;
    border: 2px solid white;
    padding: 20px 40px;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 70px;
    transition: 0.6s;
    cursor: pointer;
}
.mywork-showmore:hover{
    gap: 30px;
    transition: 0.6s;
}
@media(max-width:768px){
    .mywork{
        gap: 50px;
        margin: 50px 70px;
        align-items: start;
    }
    .mywork-title h1{
        padding: 0;
        font-size: 50px;
        font-weight: 600;
    }
    .mywork-title img{
        width: 130px;
        margin-right: -29px;
    }
    .mywork-container{
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
    .mywork-container img{
        width: 100%;
        height: 100%;
    }
    .mywork-container img:hover {
        transform: scale(1.02);
        border: 1px solid #ff00ff;
        border-radius: 6px;
        transition: 0.3s;
    }
    .mywork-showmore{
        padding: 20px 40px;
        font-size: 18px;
        margin: 50px auto;
        cursor: pointer;
    }
}