.footer{
    margin: 50px 170px;
    display: flex;
    flex-direction: column;
    gap: 30px;  
}
.footer-top{
    display: flex;
    justify-content: space-between;
}
.footer-top-left{
    font-size: 20px;
    max-width: 400px;
}
.footer-top-right{
    display: flex;
    align-items: center;
    gap: 35px;
}
.footer-email-input{
    display: flex;
    gap: 20px;
    padding: 12px 20px;
    border-radius: 30px;
    background: #32323B;
    padding-right: 40px;
}
.footer-email-input input{
    outline: none;
    border: none;
    background: transparent;
    color: #a0a0a0;
    font-family: Outft, sans-serif;
    font-size: 16px;
}
.footer-subscribe{
    font-size: 16px;
    padding: 14px 28px;
    border-radius: 30px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
    cursor: pointer;
    transition: 0.3s;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}
.footer-bottom-right{
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
}
.footer-email-input:hover{
    border: 2px solid white;
}
.footer-subscribe:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
@media(max-width:768px){
    .footer{
        margin: 50px 70px;
    }
    .footer-top{
        flex-direction: column;
        gap: 50px;
    }
    .footer-bottom{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 50px;
    }
    .footer-bottom{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        font-size: 18px;
    }
    .footer-bottom-left{
        order: 2;
        margin-right: 190px;
    }
    .footer-bottom-right{
        display: flex;
        gap: 50px;
        margin-bottom: 5px;
        margin-right: 50px;
        order: 1;
    }
}